:root {
  --text: #fff;
  --text-h: #08060d;
  --bg: #222423;
  --border: #e5e4e7;
  --code-bg: #f4f3ec;
  --accent: #aa3bff;
  --accent-bg: rgba(170, 59, 255, 0.1);
  --accent-border: rgba(170, 59, 255, 0.5);
  --social-bg: rgba(244, 243, 236, 0.5);
  --shadow:
    rgba(0, 0, 0, 0.1) 0 10px 15px -3px, rgba(0, 0, 0, 0.05) 0 4px 6px -2px;

  --sans: system-ui, "Segoe UI", Roboto, sans-serif;
  --heading: system-ui, "Segoe UI", Roboto, sans-serif;
  --mono: ui-monospace, Consolas, monospace;

  font: 18px/145% var(--sans);
  letter-spacing: 0.18px;
  color-scheme: light dark;
  color: var(--text);
  background: var(--bg);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @media (max-width: 1024px) {
    font-size: 16px;
  }
  scrollbar-width: none;
}

.navbar {
  display: flexbox;
  text-align: right;
}

.nav-link {
  padding: 10px;
  text-decoration: none;
  color: lightblue;
  background: none;
  border: none;
  font-size: 18px;
  font-family: var(--sans);
  cursor: pointer;
}
.nav-link:hover {
  color: rgb(218, 237, 243);
}

.navbar-links {
  text-align: right;
  padding: 6px;
}

.nodegraph {
  justify-content: center;
  border: 1px solid white;
  flex: 1;
  min-width: 0;
  height: 80vh;
  background-color: #1a1b1b;
}

.graph-container {
  display: flex;
  flex: 1;
  min-width: 0;
  gap: 10px;
  position: relative;
  width: 90%;
  height: 100%;
  padding-top: 10px;
  padding-right: 10px;
  text-align: center;
  justify-content: center;
}

.tooltip {
  border: 1px solid white;
  flex: 0 0 300px;
  min-height: 0;
  text-align: left;
  padding: 0px 10px;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  scrollbar-width: none;
  pointer-events: auto;
  text-transform: capitalize;
  box-sizing: border-box;
}

.simulation-button {
  width: 100%;
  padding: 20px 30px;
  border: 2px solid lightblue;
  border-radius: 5px;
  background-color: #326ea0;
  font: 18px/145% var(--sans);
  cursor: pointer;
}
.simulation-button:hover {
  background-color: rgb(18, 145, 187);
}
.simulation-button:active {
  opacity: 70%;
}

.range-slider {
  width: 100%;
  padding-top: 5px;
}

.home {
  height: 93.5dvh;
  overflow: hidden;
}

.home-layout {
  display: flex;
  justify-content: center;
  height: 100%;
  overflow: hidden;
}

.filter-section {
  padding-top: 10px;
  padding-right: 10px;
  flex: 0 0 400px;
  height: 100%;
  min-height: 0;
  flex-shrink: 0;
  min-width: 100px;
  overflow-y: auto;
  overflow-x: hidden;
  scrollbar-width: none;
}
@media screen and (max-width: 1300px) {
  .filter-section {
    flex: 0 0 250px;
    padding-right: 0px;
  }
  .tooltip {
    flex: 0 0 25%;
  }
}
@media screen and (max-width: 600px) {
  .filter-section {
    flex: 0 0 160px;
    padding-right: 0px;
  }
  .tooltip {
    flex: 0 0 20%;
  }
}

.filter-component {
  text-align: center;
  padding: 0px 10px;
  display: flexbox;
  justify-items: center;
}

.filter-box {
  border: 1px solid white;
  border-radius: 5px;
  padding: 10px;
}

.slider-label {
  text-align: center;
}

.checkbox-label {
  display: flex;
  gap: 10px;
}

.force-slider {
  width: 80%;
  justify-self: center;
}

.force-box {
  border: 1px solid white;
  border-radius: 5px;
  text-align: center;
  width: 90%;
  padding: 5px;
}

.force-box-set {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding-top: 25px;
  gap: 10px;
  justify-content: center;
}

.filter-select__option {
  color: black !important;
}

.filter-select__control {
  background-color: var(--bg) !important;
}

.filter-select__value-container {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  width: 100%;
}

.filter-select__multi-value {
  width: 100%;
}

.filter-select__multi-value__remove {
  color: black;
}

.filter-select__input {
  color: white !important;
}

.film-filters {
  border: 1px solid #56a4e4;
  border-radius: 5px;
  padding: 10px;
}

.festival-filters {
  border: 1px solid #dd6363;
  border-radius: 5px;

  padding: 10px;
}

.filter-label {
  text-align: center;
  margin-top: 10px;
}

.about-page {
  text-align: center;
}
.input-field {
  text-align: center;
}

.distribution-graph {
  display: block;
  padding: 10px;
  border: 1px solid white;
}

.andor-label {
  display: flexbox;
  font-size: 16px;
  text-align: center;
  border: 1px solid white;
  background-color: #1f4869;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.color-title {
  text-align: center;
}

.pdf-viewer {
  width: 90%;
  justify-self: center;
  height: 93vb;
}

.compositescore-filters {
  display: flexbox;
  border: 1px solid white;
  padding: 10px;
  border-radius: 5px;
}

.compositescore-input {
  margin: 10px;
  width: 40px;
}

.compositescore-target-input {
  margin: 10px;
  width: 60px;
}

.composite-score-slider {
  text-align: center;
}

.info-hover-icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 18px;
  height: 18px;
  border: solid 1px rgb(121, 124, 129);
  border-radius: 50%;
  padding: 2px;
  cursor: pointer;
  position: relative;
  margin-left: 10px;
  background-color: rgb(121, 124, 129);
}

.info-hover {
  visibility: hidden;
  position: absolute;
  top: 100%;
  font-size: 12px;
  transform: translate(30%, -120%);
  margin-left: 8px;
  background-color: rgba(121, 124, 129, 0.815);
  color: white;
  border-radius: 5px;
  padding: 8px 12px;
  width: max-content;
  max-width: 220px;
  white-space: normal;
  cursor: default;
  text-align: left;
  z-index: 100;
}

.info-hover-icon:hover {
  .info-hover {
    visibility: visible;
  }
  background-color: rgb(153, 156, 161);
}
